/*CSS for entire page, smooth scrolling and font */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}
/* */

/*CSS for the Navigation/Header. Coloring, basic alignment and padding */
header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 3.5rem;
  background-color: var(--bg_default);
  color: var(--bg_default);
}

nav,
.nav_buttons {
  display: flex;
  align-items: center;
}

nav {
  align-items: center;
  height: 10vh;
}
.container {
  justify-content: center;
}

.nav_buttons {
  gap: 0.5rem;
  list-style: none;
  font-size: 1.2rem;
}
/*CSS for Logo and turning a into button-like display*/
.logo {
  user-select: none;
  text-decoration: none;
  color: var(--brand-primary);
  font-size: 1rem;
  font-weight: bold;
}

.header-button {
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_default);

  border-radius: 5px;
  border: 1.2px solid var(--lines-color);

  font-weight: 530;
  font-size: 0.77rem;

  gap: 4px;
  height: 28px;
  padding: 8px;
  vertical-align: middle;

  cursor: pointer;
}
ion-icon {
  vertical-align: top;
}
.btn-text {
  vertical-align: middle;
}

/*Welcome message*/
.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg_default);
  align-items: center;
  text-align: center;
  height: 7rem;
  width: 100%;
  padding: 0px 4% 0% 4%;
  margin-bottom: 3rem;
}
.header-background-1 {
  position: absolute;
  background-color: var(--brand-secondary);
  -webkit-clip-path: polygon(100% 0, 8% 0, 100% 60%);
  clip-path: polygon(100% 0, 8% 0, 100% 60%);
  width: 100%;
  height: 100%;
  top: 0;
}

.header-background-2 {
  position: absolute;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  -webkit-clip-path: polygon(0 61%, 90% 0, 0 0);
  clip-path: polygon(0 61%, 87% 0, 0 0);
  width: 100%;
  height: 100%;
  top: 0;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 4% 0% 4%;
  padding-top: 50px;
}
h1 {
  color: var(--brand-secondary);
  text-align: start;
  font-weight: bolder;
  margin: 0;
  font-size: 20px;
  user-select: none;
}
.welcome-message p {
  text-align: start;
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
  user-select: none;
}

.main-content {
  background-color: var(--bg_body);
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  height: 100%;
  width: 100vw;
  padding: 20px 4% 0px 4%;
}
/*Search section*/

.search-container {
  background-color: var(--bg_default);
  border-radius: 0.8rem;
  box-shadow: rgba(8, 8, 12, 0.05) 0px 3px 8px, rgba(8, 8, 12, 0.05) 0px 0px 8px;
  display: flex;
  overflow: hidden;
  margin-bottom: 2rem;
  height: 80px;
  width: 100%;
  padding: 0rem;
  flex-direction: column;
}
.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px;
  width: 100%;
  height: 50%;
}
.search-outline {
  padding: 5px 0px 0px 10px;
  font-size: 1rem;
}
.search-input input {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: 0px;
  font-size: 0.9rem;
  font-weight: 300;
  width: 100%;
  height: 100%;
  padding: 0px 15px 0px 15px;
}
.search-input input:focus {
  border: 0;
  outline: none;
}
.filters-container {
  border: 1px solid var(--lines-color);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.filter {
  display: flex;
  justify-content: center;
  text-align: start;
  border-left: 1px solid var(--lines-color);
  border: 0px;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0% 1% 0% 1%;
  flex-direction: column;
}
label {
  font-size: 0.8rem;
  padding: 0.5rem;
  border-left: var(--lines-color) 1px solid;
}
select {
  border: 0px;
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-bottom: 0.5rem;
}
#sort-by {
  border-left: var(--lines-color) 1px solid;
}
#filter-by {
  border-left: 1px solid var(--lines-color);
}
.search-summary {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
/*Card section */
.cards-section {
  margin: 0;
  background-color: var(--bg_body);
  display: grid;
  grid-auto-rows: 300px;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
  align-items: center;
  justify-items: center;
  position: relative;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.8rem;
  box-shadow: rgba(8, 8, 12, 0.05) 1px 1px 1px,
    rgba(8, 8, 12, 0.05) -1px -1px 11px 1px, rgba(8, 8, 12, 0.05) -1px 0 1px,
    rgba(8, 8, 12, 0.05) 0 -1px 1px;
  background-color: var(--bg_default);
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  object-fit: cover;
}
.card-brief {
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.card-info {
  width: 100%;
  color: var(--body-text);
  margin: 0px;
  padding-bottom: 10px;
}
.card-info h3 {
  margin: 0px;
  height: 30px;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card-info p {
  font-size: 0.8rem;
  font-weight: 400;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--body-text);
  white-space: nowrap;
  margin: 0px;
}
.stars-container {
  width: 100%;
  display: flex;
  padding-bottom: 15px;
  color: #be8b00;
}
.author-container {
  display: flex;
  color: var(--body-text);
  padding-left: 0.2rem;
  width: 100%;
  height: 100%;
}
.author-container p {
  text-align: start;
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
  user-select: none;
}
/*Favourite section */

.fav-container {
  display: flex;
  font-size: 0.9rem;
  position: fixed;
  flex-direction: column;
  background-color: var(--bg_default);
  padding-left: 3rem;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-shadow: rgba(8, 8, 12, 0.05) 1px 1px 1px,
    rgba(8, 8, 12, 0.05) -1px -1px 11px 1px, rgba(8, 8, 12, 0.05) -1px 0 1px,
    rgba(8, 8, 12, 0.05) 0 -1px 1px;
    z-index: 1;
}
.fav-cards-container {
  display: flex;
  gap: 15px;
}
.fav-card {
  width: 140px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: flex;
  flex-direction: column;
}
.fav-img-container {
  width: 140px;
  height: 100px;
  margin-bottom: 10px;
}
.fav-img-container img {
  width: 100%;
  height: 100%;
}
.fav-card-info {
  height: 30px;
  padding: 0px 10px;
}
.fav-card-info h4 {
  margin: 0px;
}
.fav-stars-container {
  height: 35px;
  padding: 0px 10px;
  font-size: 12px;
  color: #be8b00;
}
.footer {
  width: 100%;
  background-color: var(--bg_body);
  position: absolute;
  text-align: center;
  justify-content: center;
  padding: 20px 0px;
  z-index: 0;
}
.footer i {
  color: var(--dark-heart-color);
}
/*Responsiveness based on screen size */

@media screen and (max-width: 350px) {
  .header-background-1 {
    clip-path: polygon(100% 0, 0 16%, 100% 38%);
  }

  .header-background-2 {
    clip-path: polygon(100% 0, 0 0, 0 47%);
  }
}
@media screen and (max-width: 499px) {
  .filter {
    border: 0px;
  }
  #sort-by,
  #filter-by {
    border: 0;
  }
  label {
    font-size: 0.7rem;
    padding: 0.4rem;
    border: 0px;
  }
  .filters-container {
    border: 0;
    padding: 2px;
  }
}
@media screen and (min-width: 500px) {
  .search-container {
    flex-direction: row;
    height: 50px;
  }
  .search-input {
    height: 100%;
  }
  .filters-container {
    height: 100%;
  }
  .filters-container {
    border: 0px;
    width: 60%;
  }
}
@media screen and (min-width: 900px) {
  .filters-container {
    width: 40%;
  }
}
